* {
    margin: 0;
    padding: 0; 
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(77, 77, 77);
}

body {
    height: 100%;
    width: 100%;
}

#top-nav {
    background-color: white;
    width: 100%;
    height: 45px;
}

#main-wrap {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

#container {
    width: 700px;
    min-height: 700px;
}

#header {
    height: 130px;
    text-align: center;
    font-size: 35px;
    padding: 20px;
}

#main {
    min-height: 500px;
    padding: 25px 60px;
    position: relative;
    background-color: white;
    border-radius: 40px;
}

#posting {
    height: 427px;
}

table {
    border-spacing: 0;
    border: 1px solid black;
    border-bottom: none;
}

td {
    border-bottom: 1px solid black;
}

.col0 {
    width: 17%;
    text-align: center;
    padding: 5px;
    border-right: 1px solid black;
}

.col1 {
    padding-left: 7px;
}

#content {
    border: black 1px solid;
    border-top: none;
    height: 290px;
    padding: 10px;
}

#footer {
    height: 70px;
    text-align: center;
    padding: 20px;
    font-size: 15px;
}