<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Postings</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
    <div id="wrap">
        <div id="top-nav"></div>
        <div id="main-wrap">
            <div id="container">
                <div id="header">
                    <h1>My Blog</h1>
                </div>
                <div id="main">
                    <h2>Category</h2>
                    <div>Total - {{len_postings}} Postings</div>    
                    <ul>
                        <li>
                            <div><a href="{% url 'movie' %}">Movie</a> - {{len_movies}} Postings</div>
                        </li>
                        <li>
                            
                            <div><a href="{% url 'drama' %}">Drama</a> - {{len_dramas}} Postings</div>
                        </li>
                        <li>
                            
                            <div><a href="{% url 'programming' %}">Programming</a> - {{len_programmings}} Postings</div>
                        </li>
                    </ul>
                    <div id="new">
                        <a href="{% url 'new' %}">새 글 작성하기</a>
                    </div>
                </div>
                <div id="footer">
                    <h2>자유롭게 글을 남겨보세요!</h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>