<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write a New Posting</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}">
</head>
<body>
    <div id="wrap">
        <div id="top-nav"></div>
        <div id="main-wrap">
            <div id="container">
                <div id="header">
                    <h1>My Blog</h1>
                </div>
                <div id="main">
                    <form action="{% url 'submit' %}" method="POST">
                        {% csrf_token %}
                        <label for="title">새 글 작성하기</label>
                        <input type="text" name="title" placeholder="Title">
                        <br>
                        <select name="category" id="">
                            <option hidden="" disabled selected value="">==선택하세요==</option>
                            <option value="Movie">Movie</option>
                            <option value="Drama">Drama</option>
                            <option value="Programming">Programming</option>
                        </select>
                        <br>
                        <textarea name="content" id="" cols="30" rows="15" placeholder="Write your comment!"></textarea>
                        <br>
                        <div id="submit">
                            <button type="submit">등록하기</button>
                        </div>
                    </form>
                    <div id="back">
                        <a href="{% url 'index' %}">돌아가기</a>
                    </div>
                </div>
                <div id="footer">
                    <h2>자유롭게 글을 남겨보세요!</h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>