* {
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 300px;
    height: 300px;
    text-align: center;
}

#container {
    background-color: antiquewhite;
    height: 2000px;
}

span {
    font-weight: bold;
}

#form-title {
    font-size: 30px;
    margin-bottom: 10px;
}

header {
    text-align: center;
    font-size: 30px;
    padding: 65px;
    border-bottom: black 2px solid;
}

h2 {
    margin: 10px;
    font-size: 40px;
}

#main-top {
    border-bottom: 1px black solid;
}

#main-top div ul {
    font-size: 18px;
}

#about {
    padding: 40px;
    width: 45%;
    display: inline-block;
    height: 570px;
}

#tmi {
    padding: 20px;
    width: 50%;
    display: inline-block;
    height: 300px;
}

#tmi-list {
    list-style: none;
}

#favorite {
    padding: 15px;
    height: 450px;
    border-bottom: black 1px solid;
}

.fav {
    text-align: center;
    width: 30%;
    display: inline-block;
    margin-right: 28px;
}

#form {
    padding: 50px 70px;
    border-right: 1px black solid;
    width: 60%;
}

footer {
    border-top: 1px solid black;
    padding: 50px;
    text-align: center;
    font-size: 30px;
}